{% extends "index.html" %}
{% block content %}
<div class="container">
    <div align="center">
        <h1>Virginia Covid-19 Data Email List</h1>
    </div>
</div>
<br>
<div class="content-section">
    <h4>What is it?</h4>
    <p>Should you choose to <a href="{{ url_for('subscribe') }}">sign up</a>, you will recieve a daily update at 6am EST 
        with Covid-19 data provided by the <a href="https://www.vdh.virginia.gov/coronavirus/" target="_blank">Virginia Department of Health</a>
        for almost any Virginia county or city! Be warned however, that this email list, due to Gmail 
        constraints will only be available to the first 500 to sign up and that each email can only recieve updates for one
        city or county.</p>
    <h4>What Data will I recive every morning?</h4>
    <ul>
        <li><p>The number of new daily confirmed Coronavirus cases, hospitalizations and deaths</p></li>
        <li><p>The number of total confirmed Coronavirus cases, hospitalizations and deaths that have occured since March 17th</p></li>
        <ul>
            <li><p>Recieve graphs showing how toal number of cases, hospitalizations and deaths increase with time</p></li>
            <p><sup>Note that these graphs will always trend up, if the trend looks like a line (appearing linear or constant/flat)
                then your county or city is not outbreaking. However if it is curved (appearing exponential or parabolic) it may be</sup></p>
        </ul>
        <li><p>7 day moving averages for the daily increases in Coronavirus cases, hospitalizations and deaths</p></li>
        <ul>
            <li><p>Recieve graphs showing how the 7 day moving averages for cases, hospitalizations and deaths increase with time</p></li>
            <p><sup>Note that ideally these graphs should show a decreasing or at 0 trend if your county or city is doing well.</sup></p>
        </ul>
        <li><p>A virus reproductive rate (R) which demonstrates whether or not the virus is expanding or contracting in your community</p></li>
        <ul>
            <li><p>R=1 means that the average coronavirus patient only infects one other person</p></li>
            <li><p>R larger than 1 means that the average coronavirus patient infects more than one other person (virus is spreading)</p></li>
            <li><p>R less than 1 means average coronavirus patient infects less than one other person (virus is contracting)</p></li>
        </ul>
    </ul>
    <br>
    <a href="{{ url_for('subscribe') }}"><h2 align="center">Ready to sign up?</h2></a>
</div>
{% endblock content %}